{% extends "layouts/base.html" %}

{% block title %}
    {{super()}} | Admin - User
{% endblock %}

{% block content %}
    <h1>Nouvel Utilisateur</h1>
    <hr>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <strong>Succès!</strong> {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endfor %}



    <div class="row">
        <div class="col-sm-8 offset-2">
            <form action="{{ url_for('add_user') }}" method="POST">
                {{ form.csrf_token }}
                <div class="form-group mb-4">
                    {{ form.nomComplet.label }}
                    {{ form.nomComplet(class='form-control') }}
                    <ul>
                        {% for error in form.nomComplet.errors %}
                            <li><small class="text-danger">{{ error }}</small></li>
                        {% endfor %}
                    </ul>
                </div>
                 <div class="form-group mb-4">
                    {{ form.telephone.label }}
                    {{ form.telephone(class='form-control') }}
                    <ul>
                        {% for error in form.telephone.errors %}
                            <li><small class="text-danger">{{ error }}</small></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="form-group mb-4">
                    {{ form.email.label }}
                    {{ form.email(class='form-control') }}
                    <ul>
                        {% for error in form.email.errors %}
                            <li><small class="text-danger">{{ error }}</small></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="form-group mb-4">
                    {{ form.password.label }}
                    {{ form.password(class='form-control') }}
                    <ul>
                        {% for error in form.password.errors %}
                            <li><small>{{ error }}</small></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="form-group mb-4">
                    {{ form.confirmation.label }}
                    {{ form.confirmation(class='form-control') }}
                    <ul>
                        {% for error in form.confirmation.errors %}
                            <li><small>{{ error }}</small></li>
                        {% endfor %}
                    </ul>
                </div>
                <br/>
                <button class="btn btn-block btn-lg btn-primary">Ajouter</button>
            </form>
        </div>
    </div>

{% endblock content %}
